#nprogress .bar {
  height: 8px !important;
}

.ql-editor {
  min-height: 300px;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

.card-dark {
  background: black;
}
a.ui.red.card.indv-card {
  background: turquoise;
}
h3.display-2.pb-3.pt-3.text-center.font-weight-bold {
  font-size: 4em;
}
@media (min-width: 700px) {
  h3.display-2.pb-3.pt-3.text-center.font-weight-bold {
    font-size: 6em;
  }
}
.custom-card {
  position: relative;
  z-index: 99;
}

.container-fluid.custome-class {
  background: thistle;
  padding: 8%;
  color: seagreen;
  text-decoration: solid;
  font-size: larger;
  font-weight: 600;
}
.tools-custom {
  background: brown;
  padding: 7%;
  color: wheat;
  text-align: -webkit-match-parent;
  margin-top: 2%;
  margin-bottom: 10%;
  width: 100%;
  text-size-adjust: 100px;
}
.price-calc-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.price-calc-container p {
  font-size: 3vw;
  font-weight: 900;
  color: rgb(37, 26, 190);
  display: block;
}
.price-calc {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  padding: 3% 4%;
  z-index: 100;
  position: absolute;
  height: max-content;
  left: 10%;
  right: 20%;
  top: auto;
  bottom: 550px;
  margin: auto;
  background: yellowgreen;
}

@media (min-width: 1200px) {
  .popup_inner {
    padding: 3% 4%;
    z-index: 100;
    position: absolute;
    height: max-content;
    left: 10%;
    right: 20%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: yellowgreen;
  }
}
.emi-plan-extend {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

.form-custom-class {
  padding: 10%;
}

.checkoutform {
  background: green;
  padding: 2%;
  max-width: 80%;
  position: relative;
  left: 10%;
}
.product-info {
  background: purple;
  padding: 2% 3%;
}

h3.product-title {
  text-align: center;
  color: wheat;
}

h4.product-price {
  text-align: center;
  color: wheat;
}
form.form-custom {
  margin-top: 10%;
  padding: 2%;
  height: 200px;
}
.heading-h2 {
  padding-top: 5%;
  text-align: center;
  color: forestgreen;
}
.click-pay {
  position: absolute;
  /* left: 40%; */
  left: 43%;
  bottom: 15%;
  /* bottom: 50%; */
  /* margin-bottom: -20%; */
}
.footer-design {
  background: rgb(138, 43, 43);
}

.four.column.row.footer-design {
  padding: 4%;
}
